<!DOCTYPE HTML>
<html>
<head>
<title><%= appName %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">

<script type="text/javascript">
var locationPath = location.pathname.replace(/\/[^/]+$/, '');

var dojoConfig = {
	"isDebug": false, 
	"async": true, 
	"parseOnLoad": true, 
	"mblHideAddressBar": false,
	<%= dojoPackages %>
	
};
</script>

<script type="text/javascript" src="dojo/dojo.js"></script>

<link rel="stylesheet" href="css/<%= appName %>.css">
</head>
<body id="content" style="display: none;">
	<script src="js/initOptions.js"></script>
	<script src="js/<%= appName %>.js"></script>
	<script src="js/messages.js"></script>
</body>
</html>